#game-over-pop-up{
    display: none;
    position: absolute;
    width: 1000px;
    height: 500px;
    left: 200px;
    top: 100px;
    background-color: red;
    border: 2px solid black;
    padding: 5px;
    flex-direction: column;
}

#end-game{
    font-size: 150px;
    color: white;
    text-align: center;
    // font-family: fantasy;
    font-family: 'Alice in Wonderland', sans-serif;                                           
}

#end-msg{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Alice in Wonderland', sans-serif;
}

#game-over-pop-up li{
    font-size: 50px;
    font-family: fantasy;
}

.play-again-btn-div {
    text-align: center;
    height: 200px;
}

.play-again-btn {
    width: 300px;
    font-size: 50px;
    background-color: gray;
    font-weight: bold;
    font-family: 'Alice in Wonderland', sans-serif;
    border: 1px solid black;                                           
}

.play-again-btn:hover {
    border: 3px solid yellow;
    color: yellow;
}

#stats {
    text-decoration: underline;
    font-weight: bold;
}