#player-hud{
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 120px;
    width: auto;
    flex-direction: column;
}

#speed {
    height: 30px;
    width: auto;
    color: white;
    font-size: 30px;
    font-family: fantasy;
    margin: 5px;
}

#magnet {
    height: 30px;
    width: auto;
    color: white;
    font-size: 30px;
    font-family: fantasy;
    margin: 5px;
}

#health {
    height: 40px;
    width: auto;
    color: white;
    font-size: 40px;
    font-family: fantasy;
    margin: 5px;
}