#instruction-div {
    display: flex;
    height: 700px;
    width: 1400px;
    position: absolute;
    top: 1px;
    background-color: gray;
    z-index: 100;
}

#instruction-title-div {
    display: block;
    height: 180px;
    text-align: center; 
    content: Enter the Hollow ;
    font-family: 'Alice in Wonderland', sans-serif;                                           
}

#instruction-title-div p{
    font-size: 150px;
}

#list-instructions {
    display: flex;
    height: 400px;
}

#list-instructions li{
    font-size: 50px;
    font-family: fantasy;
}

#start-btn-div {
    text-align: center;
    border: 1px pink;
    height: 100px;
}

.start-btn {
    width: 300px;
    font-size: 50px;
    background-color: brown;
    font-weight: bold;
    font-family: 'Alice in Wonderland', sans-serif;                                   
}