#button-div {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 500px;
    border: 3px solid gold;
    box-shadow: 0 0 0 2px black, 0 0 0 4px black;
}

.level-up {
    height: 99px;
    width: 390px;
    color: white;
    background-color: magenta;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: fantasy;
}


.button {
    color: white;
    width: 390px;
    height: 99px;
    font-size: 25px;
    font-family: fantasy;
    background-color: gray;
    font-weight: bold;
    border: 2px solid gold;
    box-shadow: 0 0 0 2px black, 0 0 0 3px black;
    padding: 2px;
}

.button:hover {
    border: 3px solid yellow;
    color: yellow;
}

// #level-up {
//     height: 100px;
//     width: 500px;
//     background-color: white;
// }