.pause-div {
    display: none;
    position: absolute;
    top: 300px;
    height: 120px;
    left: 500px;
    width: 400px;
    z-index: 100;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
}

.pause-div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Alice in Wonderland', sans-serif; 
}